:root{
--very_dark_blue:/* (main background):*/hsl(233, 47%, 7%);
--dark_desaturated_blue:/*(card background): */hsl(244, 38%, 16%);
--soft_violet:/*(accent):*/hsl(277, 64%, 61%);
--white/*(main heading, stats)*/:hsl(0, 0%, 100%);
--second_slightly_transparent_white/*(main paragraph)*/:hsla(0, 0%, 100%, 0.75);
--slightly_transparent_white/* (stat headings)*/:hsla(0, 0%, 100%, 0.6);
  font-size:15px;            
}   
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

html{
  font-size:15px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
main{
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
body{
  background-color: var(--very_dark_blue);
  color:white;
  height:100%;
}
.wrapper{
  display:flex;
  margin:0 20px;
  max-width:1080px;
  background-color: var(--dark_desaturated_blue);
  overflow:hidden;
  border-radius:15px;
}
.pack .conect p{
  line-height: 1.7rem;
  word-spacing: 0.1rem;
  color:hsla(0, 0%, 100%, 0.75);
  font-family: 'Lexend Deca', sans-serif;
  font-weight:100;
}
h1{
  color:var(--white);
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.1rem;
  font-size:2.2rem;
}
.stats_box{
  display:flex;
  justify-content: space-between;
  color:var(--white);
  font-family: 'Inter', sans-serif;
  width:95%;
}
.content{
  width:50%;
  display:flex;
  padding:15px 0;
}
.stats_box p{
  color:hsla(0, 0%, 100%, 0.75);
  font-family: 'Lexend Deca', sans-serif;
  margin-top:5px;
  text-transform: uppercase;
  font-size:0.7rem;
  font-weight:100;
}
h1{
  padding-bottom:25px;
}
h1 strong{
  color:var(--soft_violet);
}
.pack{
 flex:0 0 70%;
 min-width:200px;
 margin:0 auto;
 display:flex;
 flex-direction:column;
 justify-content: space-around;
}
img{
  height:100%;
  width:100%;
}
.picture{
  position:relative;
}
.overlay{
  background-color: var(--soft_violet);
  position:absolute;
  mix-blend-mode: multiply;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
@media screen and (max-width:860px){
  main{
    height:100%;
  }
  .wrapper{
    flex-direction: column-reverse;
    max-width:80%;
    margin:30px auto;
  }
  .content{
    height:100%;
    width:100%;
    text-align: center;
  }
 .pack{
  height:100%;
  width:100%;
  display:flex;
 }
 .pack .conect p{
  width:100%;
 }
 .stats_box:last-child{
  margin-right:0;
}
.stats_box{
  display:flex;
  flex-direction: column;
  font-size:1.4rem;
}
h1{
  margin-top:25px;
  padding-bottom:0;
}
.pack .conect p{
  margin:1.5rem 0;
}
.stats_box div{
  margin:10px 0;
}
}

@media screen and (max-width:600px){
h1{
  font-size:1.6rem;
  line-height:1.9rem;
}
.stats_box{
  font-size: 1rem;
}
}


